*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

button {
  background: none;
  border: 1px solid transparent;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.nav {
  position: fixed;
  top: 0;
  width: 100%;
  box-shadow: 1px 1px 4px #000;
  background-color: #fff;
  z-index: 1000;
}
.nav .wrapper {
  padding: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__title {
  font-weight: bold;
  font-size: 2rem;
  transition: color 0.3s;
}
.nav__title:hover {
  color: #ff4040;
}
.nav__links {
  display: none;
}
.nav__links--mobile {
  padding: 1.5rem;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
}
.nav__item {
  padding: 1.5rem 2rem;
  transition: color 0.3s;
}
.nav__item:hover {
  color: #ff4040;
}
.nav__buttons {
  display: none;
}
.nav__button {
  padding: 1rem;
  border: 1px solid #000;
  transition: transform 0.3s;
}
.nav__button:hover {
  transform: scale(1.1);
}
.nav__button:last-of-type {
  background-color: #000;
  color: #fff;
}
.nav__menu {
  position: relative;
  height: 25px;
  width: 30px;
}
.nav__menu .bar {
  transition: transform 0.3s, opacity 0.3s;
  position: absolute;
  background-color: #000;
  width: 100%;
  height: 2px;
}
.nav__menu .bar:first-of-type {
  top: 0;
}
.nav__menu .bar:last-of-type {
  bottom: 0;
}
.nav .active {
  display: flex;
}
.nav .active .bar:first-of-type {
  top: 12px;
  transform: rotate(45deg);
}
.nav .active .bar:nth-of-type(2) {
  opacity: 0;
}
.nav .active .bar:last-of-type {
  top: 12px;
  transform: rotate(-45deg);
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
}
.header__image {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("../img/header-img.jpg");
}
.header__image .bg-shadow {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.65);
  z-index: 0;
}
.header__image .bg-shadow .text-content {
  padding-left: 10%;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.5rem;
  height: 100%;
  color: #fff;
  max-width: 1440px;
}
.header__image .bg-shadow .text-content .button {
  display: inline-block;
  max-width: -moz-fit-content;
  max-width: fit-content;
  padding: 1.2rem 2rem;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
  transition: transform 0.3s;
}
.header__image .bg-shadow .text-content .button:hover {
  transform: scale(1.1);
}

.section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 7.5rem 5rem;
  max-width: 1440px;
  margin: 0 auto;
}
.section__text-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 0.5rem;
}
.section img {
  max-height: 550px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 40px;
}

.about-us__icons {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem 0;
}

@media (min-width: 576px) {
  .header__image .bg-shadow .text-content h1 {
    font-size: 4.5rem;
  }
  .header__image .bg-shadow .text-content p {
    font-size: 2rem;
  }
}
@media (min-width: 768px) {
  .nav__links--desktop {
    display: block;
  }
  .nav__links--mobile {
    display: none;
  }
  .nav__menu {
    display: none;
  }
  .nav__buttons--desktop {
    display: flex;
    gap: 2rem;
  }
  .header__image .bg-shadow .text-content h1 {
    font-size: 6rem;
  }
  .header__image .bg-shadow .text-content p {
    font-size: 2.2rem;
  }
  .header__image .bg-shadow .text-content .button {
    padding: 1.5rem 3rem;
  }
  .section {
    flex-direction: row;
  }
  .section__text-box {
    width: 50%;
  }
  .section img {
    width: 50%;
  }
  .section__title {
    font-size: 2rem;
  }
  .section__header {
    font-size: 4rem;
  }
  .section__description {
    font-size: 1.8rem;
  }
}/*# sourceMappingURL=style.css.map */